{#{% extends'layout.html.twig' %}#}
{% block content %}

    <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome: {{ name }}!</h3>

        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="{{ home }}">
                    <i class="glyphicon glyphicon-signal"></i>Dashboard</a>
            </li>

            <li>
                <a href="{{ course_edit }}">
                    <i class="glyphicon glyphicon-education"></i>
                    Course Edit
                </a>
            </li>
            <li >
                <a href="{{ module_edit }}">
                    <i class="glyphicon glyphicon-list"></i>
                    Module Edit
                </a>
            </li>
            <li>
                <a href="{{ user_edit }}">
                    <i class="glyphicon glyphicon-user"></i>
                    User Edit
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                </ul>
            </li>
            <li>
                <a href="{{ class_schedule }}">
                    <i class="glyphicon glyphicon-calendar"></i>
                    Class Scheduling
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                </ul>
            </li>
            <li>
                <a href="{{ timetables }}">
                    <i class="glyphicon glyphicon-th-list"></i>
                    Timetables
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                </ul>
            </li>
            <li>
                <a href="{{ profile }}">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="{{ contact }}">
                    <i class="glyphicon glyphicon-send"></i>
                    Contact
                </a>
            </li>
            {% if rank == 4 %}

            <li>
                <a href="{{ admin_edit }}">
                    <i class="glyphicon glyphicon-erase"></i>
                    Admin Edit
                </a>
            </li>
            {% endif %}
        </ul>

    </nav>

{% endblock %}