
{% block login %}
    <main class="main">
    <!--    INTRO -->
    <h3>Welcome</h3>
    <h4>Please login below.</h4>

    <!--    LOGIN  -->
    <div class="forms">
    <section class="login">
        <form action="{{ action }}" method="{{ method }}">
            <fieldset>
                <h4>Login</h4>

                <label>Email:</label>
                <input type="text" placeholder="e.g. alex@mail.com" name="email" value="{{ initial_input_box_value }}" required>


                <label>Password:</label>
                <input type="password" placeholder="Enter Password" name="password" value="{{ initial_input_box_value }}" required>
                {{ errors | json_encode }}
                <button type="submit" id="login">Login</button>

               {{ csrf.field | raw }}
            </fieldset>
            <body onunload="">
            </body>
        </form>

    </section>
{% endblock %}