
{% block content %}
    <div class="container">
        {% include 'navigation.html.twig' %}

        {% include 'st_moduleNav.html.twig' %}

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ module_page }}?module={{ module }}">{{ module }}</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ module_assessment }}?module={{ module }}">Assessment</a>

                </li>
            </ul>
            {% include 'messages.html.twig' %}

            <h2>Assessments:</h2>
            <div class="line"></div>
            {% if assignments is null %}
                <p>No Content Available at this time. Please check back soon.</p>
                <div class="line"></div>
            {% else %}
            {% for assignment in assignments %}
                <h4>{{ assignment.dbDescription }}</h4>


                <p>Posted on:{{ assignment.dbPostDate }}</p>
                <p>Deadline: {{ assignment.dbDeadline }}</p>

                <div class='btn-group' role='group' aria-label='...'>
                    <label>View</label>
                    <a href="#view{{ assignment.dbCourseWorkID }}" data-toggle="modal"><button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span></button></a>
                    <label style="padding-left: 5px;">Submit</label>
                    <a href="#edit{{ assignment.dbCourseWorkID }}" data-toggle="modal"><button type='button' class='btn btn-warning btn-sm'><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button></a>

                </div>
                <div class="line"></div>

                <div id="view{{ assignment.dbCourseWorkID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true" STYLE="top: 10px; width: 50%;left: 25%; right: 25%;">
                    <iframe src="{{ assignment.dbbrief }}#zoom=50" width="100%" height="80%"></iframe>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
                <div id="edit{{ assignment.dbCourseWorkID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="panel-heading">Upload your Assignment</div>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="text-center">
                                                <div class="panel-body">
                                                    <form action="{{ action }}?id=2&user={{ assignment.dbUniqueID }}&cwID={{ assignment.dbCourseWorkID }}" enctype="multipart/form-data" method="POST">
                                                        <div class="form-group" style="text-align: left;">
                                                            <input type="file" name="file" accept="application/pdf"/>
                                                        </div>
                                                        <input class="btn btn-lg btn-primary btn-default" value="Submit Your Assignment" type="submit">
                                                        {{ csrf.field| raw }}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-12">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            <div class="line"></div>
            <p STYLE="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p></div>

        </div>
    </div>

    {% include 'footer.html.twig' %}
    </div>
{% endblock %}