
{% block page %}
<div class="container">
    {% include 'navigation.html.twig' %}


    {% include 'st_userNav.html.twig' %}


    <!-- Page Content Holder -->
    <div id="content">

        <ul class="breadcrumb">
            <li>
                <a href="{{ home }}">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="{{ attendance }}">Attendance</a>
                <i class="icon-angle-right"></i>
            </li>

        </ul>
        {#update user#}

        <h2>Attendance Information:</h2>

        <div class="line"></div>

        <h3>Absences:</h3>

        {% for absence in absences %}
            <div>
                <h5>{{ absence.dbModuleTitle }} - {{ absence.dbDescAndWeek }} : Did not attend - {{ absence.dbDate}}</h5>
            </div>

        {% endfor %}

        <div class="line"></div>
        <h2>Current Attendance Percentage:</h2>
        {#Page Padder incase of large content#}
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                40% Complete (success)
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                50% Complete (info)
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                60% Complete (warning)
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                70% Complete (danger)
            </div>
        </div>
        <p STYLE="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p></div>

</div>

    {% include 'footer.html.twig' %}
    </div>

{% endblock %}



