
{% block content %}
    <div class="container">
        {% include 'navigation.html.twig' %}

        {% include 'st_moduleNav.html.twig' %}

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ module_page }}?module={{ module }}">{{ module }}</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ feedback }}?module={{ module }}">feedback</a>

                </li>
            </ul>

            <h2>Feedback</h2>

            <div class="line"></div>

            {% if feedback is null %}
                <p>No Feedback Available at this time. Please check back soon.</p>
                <div class="line"></div>
            {% else %}
                {% for row in feedback %}
            <h4>Title:</h4> <h5>{{ row.dbDescription }}</h5>
                   <h4>Feedback:</h4> <p>{{ row.dbFeedback }}</p>

                    <div class='btn-group' role='group' aria-label='...'>
                        <a href="#view{{ row.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span></button></a>

                    <div id="view{{ row.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <div class="panel-heading">Assignment Submission:</div>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="text-center">

                                                    <div class="modal-body" style="height: 400px;">
                                                        <iframe src="{{ row.dbSubPdf }}#zoom=50" width="100%" height="100%"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="col-md-12">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="line"></div>
                    {% endfor %}

            {% endif %}

            <p STYLE="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p></div>
        </div>
    </div>

    {% include 'footer.html.twig' %}
    </div>
{% endblock %}