
{% block content %}
    <div class="container">
        {% include 'navigation.html.twig' %}

        {% include 'st_moduleNav.html.twig' %}

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ module_page }}?module={{ module }}">{{ module }}</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ module_content }}?module={{ module }}">Learning Resources</a>

                </li>
            </ul>

            <h2>Practical Work:</h2>
{% if practical is null %}
    <p>No Content Available at this time. Please check back soon.</p>
    <div class="line"></div>
    {% else %}
            {% for row in practical %}
                <h3>{{ row.dbLearningTitle }}</h3>
                <p>{{ row.dbDescription }}</p>
                <label>View Subject Material</label>
                <a href="#view{{ row.dbResID }}" data-toggle="modal"><button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span></button></a>


                <div id="view{{ row.dbResID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true" STYLE="top: 10px; width: 50%;left: 25%; right: 25%;">
                    <iframe src="{{ row.dbPDF }}#zoom=50" width="100%" height="80%"></iframe>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>


                <p>{{ row.dbDate }}</p>

                <div class="line"></div>
                {% endfor %}
            <div class="line"></div>
        {% endif %}
            <h2>Theory:</h2>
            <div class="line"></div>
            {% if theory is null %}
                <p>No Content Available at this time. Please check back soon.</p>
                <div class="line"></div>
            {% else %}

            {% for set in theory %}
                <h3>{{ set.dbLearningTitle }}</h3>
                <p>{{ set.dbDescription }}</p>
                <label>View Subject Material</label>
                <a href="#view{{ set.dbResID }}" data-toggle="modal"><button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span></button></a>


                <div id="view{{ set.dbResID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true" STYLE="top: 10px; width: 50%;left: 25%; right: 25%;">
                    <iframe src="{{ set.dbPDF }}#zoom=50" width="100%" height="80%"></iframe>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>

                <p>{{ set.dbDate }}</p>

                <div class="line"></div>
            {% endfor %}

            {% endif %}

            <p STYLE="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p></div>

        </div>
    </div>

    {% include 'footer.html.twig' %}
    </div>
{% endblock %}