
{% block content %}
<div class="container">
    {% include 'navigation.html.twig' %}

    {% include 'st_moduleNav.html.twig' %}

    <!-- Page Content Holder -->
    <div id="content">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ home }}">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="{{ module_page }}?module={{ module }}">{{ module }}</a></li>
        </ul>

        <h2>{{ module }}</h2>
        <p>{{ ModuleDescription }}</p>
        <div class="line"></div>

        <h3>Upcoming Deadlines: </h3>
        {% if deadlines is null %}
            <p>No Deadlines have been set. Check back soon.</p>
        <div class="line"></div>
        {% else %}
        {% for deadline in deadlines | slice(0,3) %}
            <p>{{ deadline.dbDescription }}</p>
            <p>{{ deadline.dbDeadline }}</p>
            <div class="line"></div>

        {% endfor %}
        {% endif %}

        <h2>Announcements:</h2>

        <div class="line"></div>
        {% if announcements is null %}
            <p>No Announcements have been set yet. Check back soon</p>
        {% else %}

        {% for announcement in announcements %}
            <h3>{{ announcement.dbAnnouncementTitle }}</h3>
            <p>{{ announcement.dbDescription }}</p>
            <br>
            <p>{{ announcement.dbDate }}</p>

            <div class="line"></div>

        {% endfor %}
        {% endif %}
        </div>
    </div>

    {% include 'footer.html.twig' %}
</div>
{% endblock %}