
{% block page %}
<div class="container">
    {% include 'navigation.html.twig' %}


    {% include 'st_userNav.html.twig' %}


        <!-- Page Content Holder -->
        <div id="content">

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ home }}">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#"></a></li>
                </ul>


            <h2>{{ course[0]['dbCourseName'] }}</h2>
            <p>{{ course[0]['dbCourseDescription'] }}</p>


            <div class="line"></div>

            <h2 >Course Announcements</h2>
            <div class="line"></div>
            {% for announcement in announcements %}

            <h3>{{ announcement.dbAnnouncementTitle }}:</h3>

            <p>{{ announcement.dbDescription }}</p>
                <label>{{ announcement.dbDate }}</label>

            <div class="line"></div>

            {% endfor %}

        </div>

</div>

    {% include 'footer.html.twig' %}
</div>
{% endblock %}
