{% extends 'tableLayout.html.twig' %}
{% block content %}
    <div class="container">
        {% include 'navigation.html.twig' %}

        {% include 'te_courseContentNav.html.twig' %}

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ module_content }}?module={{ module }}">{{ module }}</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{{ assignments }}?module={{ module }}">Assignments:</a>

                </li>
            </ul>
            {% include 'messages.html.twig' %}
            <h2>Assignments:</h2>
            <div class="line"></div>
            <h4>To be Marked:</h4>

            {% if submissions is null %}
                <p>There is no coursework data to display at this time.</p>
            {% else %}
                <div class="table-responsive" style="width: 100%">
                    <table id="admins" class="display" cellspacing="0">
                        <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Full Name</th>
                            <th>Description</th>
                            <th>Submission Date</th>
                            <th>Deadline</th>
                            <th>View/Mark/Delete</th>

                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>UserID</th>
                            <th>Full Name</th>
                            <th>Description</th>
                            <th>Submission Date</th>
                            <th>Deadline</th>
                            <th>View/Mark/Delete</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for submission in submissions %}
                            <tr>

                                <td>{{ submission.dbUniqueID }}</td>
                                <td>{{ submission.dbFullName }}</td>
                                <td>{{ submission.dbDescription }}</td>
                                <td>{{ submission.dbDate }}</td>
                                <td>{{ submission.dbDeadline }}</td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='...'>
                                        <a href="#view{{ submission.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span></button></a>
                                        <a href="#edit{{ submission.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-warning btn-sm'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></button></a>
                                        <a href="#del{{ submission.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></a>
                                    </div>
                                </td>
                            </tr>
                            <div id="view{{ submission.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="panel-heading">Assignment Submission:</div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="text-center">
                                                            <div style="text-align: left;">
                                                                <strong>User:</strong><p>{{ submission.dbFullName }}</p>
                                                            </div>
                                                            <div class="modal-body" style="height: 400px;">
                                                                <iframe src="{{ submission.dbSubPdf }}#zoom=50" width="100%" height="100%"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-12">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--modal edit Course-->
                            <div id="edit{{ submission.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="panel-heading">Edit Feedback:</div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="text-center">

                                                            <p>Please Edit Users Feedback.</p>
                                                            <div class="panel-body">
                                                                <form action="{{ action }}" method="POST">
                                                                    <input type="hidden" name="id" value="12">
                                                                    <input type="hidden" name="value" value="{{  submission.dbSubmissionID }}">

                                                                    <div class="form-group" style="text-align: left;">
                                                                        <label>Feedback:</label>
                                                                        <textarea class="form-control" placeholder="Grade....Evaluation"  name="feedback" ></textarea>
                                                                        {% if errors.feedback %}
                                                                            <span class="help-block">{{ errors.feedback | first }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <input class="btn btn-lg btn-primary" value="Mark Assignment" type="submit">
                                                                    {{ csrf.field| raw }}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-12">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--modal Delete Course-->
                            <div id="del{{ submission.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="panel-heading">Delete Users Submission:</div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="text-center">

                                                            <div class="panel-body">
                                                                <form action="{{ action2 }}" method="POST">
                                                                    <input type="hidden" name="id" value="15">
                                                                    <input type="hidden" name="table_id" value="{{  submission.dbSubmissionID }}">
                                                                    <div class="form-group" style="text-align: left;">
                                                                        <p>Are you sure you want to delete Course Work: </p>
                                                                        <p>{{ submission.dbSubmissionID }}?</p>

                                                                    </div>
                                                                    <input class="btn btn-lg btn-danger " value="Delete" type="submit">
                                                                    {{ csrf.field| raw }}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-12">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
            <div class="line"></div>
            <h4>Marked:</h4>

            {% if m_submissions is null %}
                <p>There are no marked assignments to display at this time.</p>
            {% else %}
                <div class="table-responsive" style="width: 100%">
                    <table id="courses" class="display" cellspacing="0">
                        <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Full Name</th>
                            <th>Description</th>
                            <th>Submission Date</th>
                            <th>Deadline</th>
                            <th>View/Edit/Delete</th>

                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>UserID</th>
                            <th>Full Name</th>
                            <th>Description</th>
                            <th>Submission Date</th>
                            <th>Deadline</th>
                            <th>View/Edit/Delete</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for m_submission in m_submissions %}
                            <tr>

                                <td>{{ m_submission.dbUniqueID }}</td>
                                <td>{{ m_submission.dbFullName }}</td>
                                <td>{{ m_submission.dbDescription }}</td>
                                <td>{{ m_submission.dbDate }}</td>
                                <td>{{ m_submission.dbDeadline }}</td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='...'>
                                        <a href="#view2{{ m_submission.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-primary btn-sm'><span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span></button></a>
                                        <a href="#edit2{{ m_submission.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-warning btn-sm'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span></button></a>
                                        <a href="#delete{{ m_submission.dbSubmissionID }}" data-toggle="modal"><button type='button' class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button></a>
                                    </div>
                                </td>
                            </tr>
                            <div id="view2{{ m_submission.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="panel-heading">Assignment Submission:</div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="text-center">


                                                            <div style="text-align: left;">

                                                                <strong>User:</strong><p>{{ m_submission.dbFullName }}</p>
                                                                <strong>Feedback:</strong><p>{{ m_submission.dbFeedback }}</p>
                                                            </div>
                                                            <div class="modal-body" style="height: 400px;">
                                                                <iframe src="{{ m_submission.dbSubPdf }}#zoom=50" width="100%" height="100%"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-12">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--modal edit Course-->
                            <div id="edit2{{ m_submission.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="panel-heading">Edit Feedback:</div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="text-center">

                                                            <p>Please Edit Users Feedback.</p>
                                                            <div class="panel-body">
                                                                <form action="{{ action }}" method="POST">
                                                                    <input type="hidden" name="id" value="13">
                                                                    <input type="hidden" name="value" value="{{  m_submission.dbSubmissionID }}">

                                                                    <div class="form-group" style="text-align: left;">
                                                                        <label>Name:</label>
                                                                        <input class="form-control" placeholder="Grade....Evaluation" value="{{ m_submission.dbFeedback }}" name="feedback" type="text">
                                                                        {% if errors.feedback %}
                                                                            <span class="help-block">{{ errors.feedback | first }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <input class="btn btn-lg btn-primary" value="Edit Feedback" type="submit">
                                                                    {{ csrf.field| raw }}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-12">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--modal Delete Course-->
                            <div id="delete{{ m_submission.dbSubmissionID }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="panel-heading">Delete Users Submission:</div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="text-center">

                                                            <div class="panel-body">
                                                                <form action="{{ action2 }}" method="POST">
                                                                    <input type="hidden" name="id" value="15">
                                                                    <input type="hidden" name="table_id" value="{{  m_submission.dbSubmissionID }}">
                                                                    <div class="form-group" style="text-align: left;">
                                                                        <p>Are you sure you want to delete Course Work: </p>
                                                                        <p>{{  m_submission.dbSubmissionID }}?</p>

                                                                    </div>
                                                                    <input class="btn btn-lg btn-danger " value="Delete" type="submit">
                                                                    {{ csrf.field| raw }}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-12">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% endif %}
            <p STYLE="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>

    </div>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}