
{% block content %}
    <div class="container">
        {% include 'navigation.html.twig' %}

        {% include 'te_courseContentNav.html.twig' %}

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ home }}">Home</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="{{ module_content }}?module={{ module }}">{{ module }} Content</a></li>
            </ul>

            <h2>{{ module }} Information</h2>
            <div class="line"></div>
            <h3>Welcome to module home page.</h3>
            <div class="line"></div>

            <h4 >Coursework:</h4>
            <p >This Module dashboard allows you to set delete and view current coursework for this module. In the even you wish you wish to edit a piece of coursework please remove and set the coursework again with the correct materials.</p>
            <div class="line"></div>
            <h4 >Practical:</h4>
            <p >In the even the students are required to carry out practical work to be done in seminars or in their own time. Practical is used to set this work.</p>
            <div class="line"></div>
            <h4 >Theory:</h4>
            <p >In the even the students are required to learn additional concepts from lecturers or other source materials pertaining to the course. Adding new Theory work allows students to find this for the module.</p>
            <div class="line"></div>
            <h4 >Assignments:</h4>
            <p >The Assignment section will list all submitted assignments yet to be marked and those already marked. A student will be unable to resubmit their assignment, if this even occurs then it is to the teachers discretion to remove the first submission.</p>
        </div>
    </div>

    {% include 'footer.html.twig' %}
    </div>
{% endblock %}