{#{% extends'layout.html.twig' %}#}
{% block content %}

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Welcome: {{ name }}!</h3>

        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="{{ studentDashboard }}">
                    <i class="glyphicon glyphicon-home"></i>Course</a>
            </li>
            <li >
                <a href="#pageSubmenu1" data-toggle="collapse"  aria-expanded="false">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    Modules
                </a>
                {% if modules is not null and modules|length > 0 %}
                    <ul class="collapse list-unstyled" id="pageSubmenu1">

                    {% for module in modules %}
                        <li><a href="{{ module_page }}?module={{ module.dbModuleTitle }}">{{ module.dbModuleTitle }}</a></li>

                    {% endfor %}


                     </ul>
                {% endif %}
            </li>
            <li>
                <a href="{{ attendance }}">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    Attendance
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                </ul>
            </li>
            <li>
                <a href="{{ profile }}">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile
                </a>
            </li>

            <li>
                <a href="{{ contact }}">
                    <i class="glyphicon glyphicon-send"></i>
                    Contact
                </a>
            </li>
        </ul>

    </nav>

{% endblock %}